/*** carte.css ***/

.carte {
    box-sizing: border-box;
    --largeur-min: 10rem;
    --largeur-max: 30rem;
    --hauteur-max: 25rem;
    --couleur-fond: #63adf2;
    --couleur-texte-important: #f9f9f9;
    --couleur-texte-secondaire: #555;
    --couleur-texte-labeur: #2a2a2a;
    --couleur-icone: #F89C1B;
    --couleur-bordure-fenetre: #aaa;
    z-index: 1;
}

.carte em {
    font-weight: bold;
    font-style: normal;
}

.carte {
     margin: 1rem 0;
    max-height: var(--hauteur-max);
    background: var(--couleur-fond);
    /* border: 1px solid var(--couleur-bordure-fenetre); */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* cursor: pointer ;*/
}

.carte--large {}

.carte__avatar {
    display: block;
    width: 70%;
    border-radius: 50%;
    border: 1px solid #555;
    margin: auto;
}


/*  description */

.carte h2 {
    font-weight: normal;
    color: var(--couleur-texte-important);
    font-size: 1.8rem;
    line-height: 1;
    margin: 1rem 0 0 0;
    padding: 0;
    flex: 1;
}

.carte h3 {
    color: var(--couleur-texte-secondaire);
    font-weight: normal;
    font-size: 1rem;
    margin: 1rem 0 0 0;
    padding: 0;
}