@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?z4shdd');
  src:  url('fonts/icomoon.eot?z4shdd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?z4shdd') format('truetype'),
    url('fonts/icomoon.woff?z4shdd') format('woff'),
    url('fonts/icomoon.svg?z4shdd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-artstation:before {
  content: "\e900";
  color: #13aff0;
}
.icon-at-and-t:before {
  content: "\e901";
  color: #00a8e0;
}
.icon-atom:before {
  content: "\e902";
  color: #66595c;
}
.icon-buffer:before {
  content: "\e903";
  color: #168eea;
}
.icon-codio:before {
  content: "\e904";
  color: #4574e0;
}
